.container {
    margin-top: 48px;
}
textarea {
    display: block;
    width: 100%;
    resize: vertical;
    height: 30em;
}
input {
    width: 100%;
}
[disabled] {
    background-color: #e6e6e6;
    color: #414141;
}