@font-face {
	font-family: "Zekton";
	src: url(../font/zekton_rg.otf);
}
.container {
    margin-top: 48px;
}
footer {
    text-align: center;
}
h1 {
	font-family: "Zekton", sans-serif;
}
textarea {
    display: block;
    width: 100%;
    resize: vertical;
    height: 30em;
}
[type="text"] {
    width: 100%;
}
[disabled] {
    background-color: #e6e6e6;
    color: #414141;
}
[type="checkbox"] {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin: 4px 0 4px 0;
}
label {
	display: block;
	font-weight: inherit;
	float: left;
	margin: 0 4px 14px 4px;
}
.supported {
	margin: 0 0 14px 0;
}
.supported > span:not(:last-child):after {
	content: ', ';
}