<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>AI Build Generator</title>
	<meta name="description" content="AI Build XML Generator">
	<meta name="author" content="Aki">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/style.css">
	<script src="js/angular.min.js"></script>
</head>
<body>
	<div class="container">
        <header><h1>AI Build XML Generator</h1></header>
		<div ng-app="AI-Build-Generator" ng-controller="AI-Build-Controller">
			<input placeholder="Nautsbuilder build tag" type="text" ng-model="build" ng-change="getXML()">
            <div class="ordered-box">
				<input id="order" type="checkbox" ng-model="order" ng-change="getXML()">
				<label for="order">Force strict build order</label>
			</div>
			<textarea id="output" class="output" disabled>{{output}}</textarea>
			<button ng-click="download()">Open as XML</button>
		</div>
        <footer><a href="https://github.com/nthirtyone/ai-build-generator.git">GitHub</a></footer>
	</div>
    <script src="js/main.js"></script>
</body>
</html>
